html, body {
  padding: 0;
  padding-top: 2em;
  margin: 0;
  width: 100%;
  font-family: 'Rubik', sans-serif;
}

h1 {
  text-align: center;
  font-size: 48px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 2em;
}

figure {
  width: 100px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  display: grid;
  margin: 0 auto;
  list-style: none;
  padding-inline-start: 0;
  max-width: 600px;
}

ul.projects {
  grid-template-columns: repeat(2, 1fr);
}

ul.links {
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

li.project {
  background-color: #FFF;
  border-radius: 16px;
  padding: 1em;
  margin: 2em;
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 0px 0px 4px 2px rgba(0,0,0,0); 
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 0px 0px 4px 2px rgba(0,0,0,0);
}

h3 {
  text-align: center;
}

p {
  text-align: center;
  color: #333;
}
